div {
    width: 500px;
    min-height: 600px;
    border: 1px solid black;
    background-color:honeydew;
    margin: 20px;
    padding: 50px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    line-height: 2.5
}

#myfirstparagraph {
    text-align: left;
    font-size: 12px;
}

#myfirstsmalltext {
    font-size: 9px;
}

#mysecondparagraph {
    font-size: 15px;
}

#mysecondsmalltext {
    font-size: 11px;
}

#mylargeX {
    font-family: "lores-9-wide-bold-alt-oaklan", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-decoration: underline 10px;
    text-underline-offset: 0;
    line-height: 1;
}

#mythirdsmalltext {
    font-size: 11px;
}
